<a href="https://colab.research.google.com/github/s3drik/ai_uni/blob/main/deadlines/first.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [32]:
import pandas as pd
from sklearn.preprocessing import StandardScaler, MinMaxScaler

In [4]:
url = "https://raw.githubusercontent.com/s3drik/ai_uni/main/csv/automobile_data_nan.csv"

df = pd.read_csv(url)

print(df)
print(df.info)

    index      company   body-style  wheel-base  length engine-type  \
0       0  alfa-romero  convertible        88.6   168.8        dohc
1       1  alfa-romero  convertible         NaN   168.8        dohc
2       2  alfa-romero    hatchback        94.5   171.2        ohcv
3       3         audi        sedan        99.8   176.6         ohc
4       4         audi        sedan        99.4   176.6         ohc
..    ...          ...          ...         ...     ...         ...
56     81   volkswagen        sedan        97.3   171.7         ohc
57     82   volkswagen        sedan         NaN   171.7         NaN
58     86   volkswagen        sedan        97.3     NaN         ohc
59     87        volvo        sedan       104.3   188.8         NaN
60     88        volvo        wagon       104.3   188.8         ohc

   num-of-cylinders  horsepower  average-mileage    price
0              four         NaN             21.0  13495.0
1              four       111.0             21.0  16500.0
2               six       154.0              NaN  16500.0
3              four       102.0             24.0  13950.0
4              five         NaN              NaN  17450.0
..              ...         ...              ...      ...
56             four        85.0             27.0   7975.0
57             four        52.0             37.0   7995.0
58             four       100.0              NaN   9995.0
59             four       114.0             23.0  12940.0
60             four         NaN             23.0  13415.0

[61 rows x 10 columns]
<bound method DataFrame.info of     index      company   body-style  wheel-base  length engine-type  \
0       0  alfa-romero  convertible        88.6   168.8        dohc
1       1  alfa-romero  convertible         NaN   168.8        dohc
2       2  alfa-romero    hatchback        94.5   171.2        ohcv
3       3         audi        sedan        99.8   176.6         ohc
4       4         audi        sedan        99.4   176.6         ohc
..    ...          ...          ...         ...     ...         ...
56     81   volkswagen        sedan        97.3   171.7         ohc
57     82   volkswagen        sedan         NaN   171.7         NaN
58     86   volkswagen        sedan        97.3     NaN         ohc
59     87        volvo        sedan       104.3   188.8         NaN
60     88        volvo        wagon       104.3   188.8         ohc

   num-of-cylinders  horsepower  average-mileage    price
0              four         NaN             21.0  13495.0
1              four       111.0             21.0  16500.0
2               six       154.0              NaN  16500.0
3              four       102.0             24.0  13950.0
4              five         NaN              NaN  17450.0
..              ...         ...              ...      ...
56             four        85.0             27.0   7975.0
57             four        52.0             37.0   7995.0
58             four       100.0              NaN   9995.0
59             four       114.0             23.0  12940.0
60             four         NaN             23.0  13415.0

[61 rows x 10 columns]>

In [17]:
print("har bir qatordagi nan qiymatlar soni: ")
print(df.isnull().sum())
print("qaytarilgan qiymatlar soni")
print(df.duplicated().sum())
print("info:")
print(df.info())

har bir qatordagi nan qiymatlar soni:
index                0
company              0
body-style           0
wheel-base          15
length              13
engine-type         12
num-of-cylinders     0
horsepower          16
average-mileage     15
price                3
dtype: int64
qaytarilgan qiymatlar soni
0
info:
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 61 entries, 0 to 60
Data columns (total 10 columns):
 #   Column            Non-Null Count  Dtype
---  ------            --------------  -----
 0   index             61 non-null     int64
 1   company           61 non-null     object
 2   body-style        61 non-null     object
 3   wheel-base        46 non-null     float64
 4   length            48 non-null     float64
 5   engine-type       49 non-null     object
 6   num-of-cylinders  61 non-null     object
 7   horsepower        45 non-null     float64
 8   average-mileage   46 non-null     float64
 9   price             58 non-null     float64
dtypes: float64(5), int64(1), object(4)
memory usage: 4.9+ KB
None

In [30]:
wh = df['wheel-base'].median()
le = df['length'].median()
et = df['engine-type'].mode()[0]

df.fillna({"wheel-base" : wh, "length" : le, "engine-type" : et}, inplace=True)
df.dropna(subset = ["horsepower", "average-mileage"], inplace=True)
#df["price"] = df["price"].fillna(method="ffill")
df["price"].ffill()
df.isnull().sum()

index               0
company             0
body-style          0
wheel-base          0
length              0
engine-type         0
num-of-cylinders    0
horsepower          0
average-mileage     0
price               0
dtype: int64

In [34]:
cols = ["index", "wheel-base", "length", "horsepower", "average-mileage", "price"]
scaler = StandardScaler()
df_standard = df.copy()
df_standard[cols] = scaler.fit_transform(df[cols])
print(df_standard.head())

      index      company   body-style  wheel-base    length engine-type  \
1 -1.724078  alfa-romero  convertible   -0.285405 -0.457195        dohc
3 -1.639369         audi        sedan    0.159863  0.143638         ohc
5 -1.554660         audi        sedan    0.159863  0.197559         ohc
6 -1.512306         audi        wagon    1.081107  1.383819         ohc
8 -1.342888          bmw        sedan   -0.285405  0.159044         ohc

  num-of-cylinders  horsepower  average-mileage     price
1             four    0.066163        -0.567714  0.003638
3             four   -0.105412        -0.157027 -0.198697
5             five    0.047099        -0.841505 -0.095546
6             five    0.047099        -0.841505  0.195659
8             four   -0.124476        -0.293923  0.037361

In [35]:
df_minmax = df.copy()
df_minmax[cols] = scaler.fit_transform(df[cols])

print(df_minmax.head())

      index      company   body-style  wheel-base    length engine-type  \
1 -1.724078  alfa-romero  convertible   -0.285405 -0.457195        dohc
3 -1.639369         audi        sedan    0.159863  0.143638         ohc
5 -1.554660         audi        sedan    0.159863  0.197559         ohc
6 -1.512306         audi        wagon    1.081107  1.383819         ohc
8 -1.342888          bmw        sedan   -0.285405  0.159044         ohc

  num-of-cylinders  horsepower  average-mileage     price
1             four    0.066163        -0.567714  0.003638
3             four   -0.105412        -0.157027 -0.198697
5             five    0.047099        -0.841505 -0.095546
6             five    0.047099        -0.841505  0.195659
8             four   -0.124476        -0.293923  0.037361